body {
  background-color: #220000;
}

/* Including custom fonts so that even Linux/Android displays
   webpage using Times New Roman */
@font-face {
    font-family: 'TNR';
    src: url(font/times.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TNR';
    src: url(font/timesbd.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TNR';
    src: url(font/timesi.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'TNR';
    src: url(font/timesbi.ttf);
    font-weight: bold;
    font-style: italic;
}

* {
    font-family: 'TNR';
  }

li {
  color: yellow;
}

h1 {
  color: yellow;
  }
h2 {
color: yellow;
}
p {
  color: yellow;
}
a{
color: white;
}
a:hover{
background-color: #8080e2;
color: red;
}
header{
background-color: red;
padding-top: 20px;
padding-bottom: 20px;
}
header a{
padding: 20px 20px 20px 20px;
}
