body {
  background-color: #220000;
}

/* Navigation */

li {
  color: yellow;
}

h1 {
  color: yellow;
  }
h2 {
color: yellow;
}
p {
  color: yellow;
}
a{
color: white;
}
a:hover{
background-color: #8080e2;
color: red;
}
header{
background-color: red;
padding-top: 20px;
padding-bottom: 20px;
}
header a{
padding: 20px 20px 20px 20px;
}
